<a href="{{ url_for('add_user') }}" class="btn btn-primary mb-3">
  <i class="bi bi-person-plus-fill"></i> Add New User
</a>

{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
<h2>Users</h2>
<table class="table table-striped">
  <thead>
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Role</th></tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user[0] }}</td>
      <td>{{ user[1] }}</td>
      <td>{{ user[2] }}</td>
      <td>{{ user[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
